.header{
    background-color: black;
    height: 40px;
    width: auto;
}


.body{
    display: flex;             /* Enable flexbox */
    flex-wrap: wrap;           /* Allow child divs to wrap */
    width: 100%;               /* Take up full width of parent */
    gap: 10px; 
    margin: auto;
}


.App{
    display: flex;
    flex-direction: column;
    height: auto;
    
}

.formBox{
    flex: 1 1 48%;             /* Take up 50% of the parent's width */
    min-width: 250px;          /* Optional, set a minimum width */
    box-sizing: border-box;    /* Prevent padding/margin from affecting width */
    padding: 20px;    
    flex-wrap: wrap;         /* Padding for child divs */
    text-align: center;        /* Center content */
    border-radius: 5px; 
    height: auto;
}



.formResult{
    height: 100%;
    width: 90%;  /* You can set the width you want for the second box */
    margin: 0 auto;  /* Center the second box horizontally */
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    height: '100vh';
    width: '100%';
}

.inputArea{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




@media (max-width: 720px) {
    .formBox {
        flex-wrap: wrap;         /* Allow the children to wrap */
      }
    
      .formResult {
        flex: 1 1 100%;          /* Each child takes up 100% of the parent's width */
      }
  }
